header {
    background-color: #2C3E50;
    color: white;
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin-inline: 1rem;
}

/* main */

/* section-1 */

.s-1 {
    background-color: #1ABC9C;
    color: white;
}
.avatar {
    width: 50%;
}
.line {
    background-color: white;
    width: 5rem;
    height: 2px;
    margin-top: .8rem;
}
.col-md-auto .contents  ul li {
    margin-inline: .2rem;
}
.col-md-auto .contents  ul {
    padding-right: 2rem;
}

/* section-2 */

.s-2 {
   color: #2C3E50;
}
.line-2 {
    background-color: #2C3E50;
    width: 5rem;
    height: 2px;
    margin-top: .8rem;
}
.cards {
    width: 100%;
}
.card {
    width: 100%;
}

/* section-3 */

.s-3 {
    background-color: #1ABC9C;
    color: white;
}
.contents p {
    text-align: left;
}
.btn {
    color: white;
    border: 1px solid white;
    background-color: #1ABC9C;
}

/* section-4 */

.line-3 {
    background-color: lightgray;
    height: 2px;
}
.info {
    white-space: nowrap;
}